* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

:root {
    --primary-very-dark-blue: hsl(243, 87%, 12%);
    --primary-desaturated-blue: hsl(238, 22%, 44%);

    --accent-bright-blue: hsl(224, 93%, 58%);
    --accent-moderate-cyan: hsl(170, 45%, 43%);

    --neutral-light-grayish-blue: hsl(240, 75%, 98%);
    --neutral-light-gray: hsl(0, 0%, 75%);
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 28%;
}

.logo>img {
    width: 100%;
    height: auto;
}

nav>ul>li {
    display: inline-block;
    margin-inline-end: 10px;
    font-size: 14px;
    font-family: 'Roleway', sans-serif;
    color: var(--primary-desaturated-blue);
}









.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}