* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    font-weight: 300;
    font-size:16px;
}

:root {
    --height-header: 80px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* position: relative; */
}

.scroll-watcher{
    height: 3px;
    position: fixed;
    top: calc(var(--height-header) - 2px);
    z-index: 1000;
    background-color:rgba(0, 172, 193, 1);
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

.logo {
    --logo-font-size: 25px;
    --logo-font-spacing: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--logo-font-spacing);
    font-size: var(--logo-font-size);
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background: #0000008c;
    border-radius: 8px;
    color: white;


    & i:nth-child(even) {
        font-size: calc(var(--logo-font-size) - var(--logo-font-spacing));
    }
}

h1 {
    font-weight: 800;
    font-size: 45px;
}

h2 {
    font-weight: 800;
    font-size: 40px;
}

h3 {
    font-weight: 600;
    font-size: 30px;
}


header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #000000;
    z-index: 1;

    & div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: var(--height-header);
        padding-inline: 25px;
    }

    & nav {

        & ul {
            list-style: none;

            & li {
                display: inline;
                margin-inline: 10px;
                font-weight: 400;
                font-size: 20px;

                & a {
                    text-decoration: none;
                    color: rgb(238, 224, 163);
                }
            }

            & li:hover {
                /* transform: scale(2); */
                animation: move-forever 2s;
                color: #f3d111b7
            }

        }
    }
}



main {
    margin-top: var(--height-header);

    section {
        width: 100%;
        height: calc(100vh - var(--height-header));
    }

    #contacto,
    #portafolio {
        padding-top: calc(var(--height-header) + 10px);
        height: 100vh;
    }

    #acerca {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - var(--height-header));
        border-radius: 72% 28% 79% 21% / 9% 64% 36% 91% ;
        background: #ecf6f8;
        position: relative;

        & .header {
            width: fit-content;
            position: relative;
            left: -150px;
        }
        
        & .image {
            --tamagno-foto:300px;
            border-radius: 50%;
            box-shadow: 0 0 20px #84becc;
            width: var(--tamagno-foto);
            height: var(--tamagno-foto);
            overflow: hidden;
            position: absolute;
            left: 800px;
            top: 70px;

            /* scale: .8;    opacity: 0; */
            /* animation: fade-in-foto linear forwards;
            animation-timeline: view();
            animation-range: contain 0px; */
            
            & img {
                width: 100%;
            }
            
        }
        
        & .column {
            width: 600px;
        }
        
        & .intro {
            position: relative;
            left: -300px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            & span {
                width: fit-content;
                margin-inline-end: 15px;
            }
        }
        
        & .skills {
            position: relative;
            top: 10px;
            left: -300px;
            
            & ul {
                list-style-position: inside;
                list-style: none;
                
                & li {
                    margin-inline-start: 15px;
                }
            }
        }
        
        & .main-text {
            width: 900px;
            position: relative;
            /* top: -150px; */
            left: 150px;
        }
    }




}





footer {
    --height-footer:300px;
    text-align: center; 
    height: calc(var(--height-footer) + 60px);
    background: linear-gradient(60deg, hsl(252, 52%, 47%) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.svg{
    width: 100%;

    .waves {
        position: relative;
        width: 100%;
        height: var(--height-footer);
        margin-bottom: -7px;
        min-height: 100px;
        max-height: 150px;
        transform: scale(-1);
    }
}

.contenido-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 25px;


    & div {
        width: 30%;
        min-height: 150px;
    }

    & .links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 15px;

        & h5 {
            font-size: 18px;
            
        }

        & span {
            display: flex;
            height: 30px;

          
        }

        & .logo {
            --logo-font-size: 12px;
            --logo-font-spacing: 6px;
            display: flex;
            gap: var(--logo-font-spacing);
            font-size: var(--logo-font-size);
            width: fit-content;
            height: fit-content;
            padding: 15px;
            border-radius: 8px;

            & i:nth-child(even) {
                font-size: calc(var(--logo-font-size) - var(--logo-font-spacing));
            }
        }
    }

    & .redes {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        gap: 15px;

        & a {
            color: white;

        }

    }
}



/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@keyframes scroll-watcher {
    to {scale: 1 1;}
}


/** 
* The `@media(prefers-reduce-motion:no-prefers)` rule is a media query 
* that targets devices where the user has not indicated a preference for reduced motion. */
/* @media(prefers-reduce-motion:no-prefers){

    #acerca {

        & .image {
            scale: .8;    opacity: 0;
            animation: fade-in-foto linear forwards;
            animation-timeline: view();
            animation-range: 250px 500px;
        }

    }

    @keyframes fade-in-foto {
        to{scale:1; opacity: 1;}
    }
} */




/*Shrinking for mobile*/
/* @media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
} */