@media screen and (max-width:440px) {

    .principal {
        height: 100%;
    }

    .section-principal {
        flex-direction: column;

    }

    .top-left {
        width: 90%;
        height: 420px;
        border-radius: 0 0 25px 25px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.8379726890756303) 25%, rgba(255, 0, 52, 1) 83.5%);
        padding: 20px;
        justify-content: space-around;
    }
    
    .img-rutina,
    .texto-rutina{
        width: 99%;
    }


    .top-rigth {
        width: 98%;
        height: 100%;
        color: white;
        padding: 0px;
        align-items: center;
    }

    .img-entrenador {
        width: 95%;
        margin-top: 20px;
    }

    .img-entrenador>img {
        width: 35%;
    }

    .top-rigth>h1 {
        font-size: 30px;
        margin-inline: 15px;
        text-align: center;
        letter-spacing: 0.10em;
        word-spacing: 0.10em;
    }


    .campos-form {
        margin-block-start: 15px;
        width: 100%;
        justify-content: center;
        gap:20px
    }

    .grupos-form{
        margin-inline-end:  0px;
    }
    
    button {
        margin-block: 10px;
    }

    .section-tarjetas {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 15px;
    }

    .resultados {
        width: 70%;
        color: bisque;
        margin-block-start: 20px;
        background: linear-gradient(180deg, rgba(147, 0, 13, 1) 0%, rgba(0, 0, 0, 1) 90%);
    }



}