* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.principal {
    background: radial-gradient(circle, rgba(147, 0, 13, 1) 0%, rgba(0, 0, 0, 1) 65%);
    height: 100vh;
}

.section-principal {
    display: flex;
    justify-content: space-between;
}

.top-left {
    display: flex;
    flex-direction: column;
    background: linear-gradient(123deg, rgba(255, 255, 255, 0.8379726890756303) 25%, rgba(255, 0, 52, 1) 83.5%);
    backdrop-filter: blur(5px);
    width: 900px;
    height: 450px;
    border-radius: 0 0 25px 0;
    padding: 50px 100px;
    gap: 10px;
    color: white;
}

.top-left>h1 {
    font-size: 30px;
    letter-spacing: 1em;
    word-spacing: 1em;
}

.img-rutina,
.texto-rutina {
    width: 70%;
}

.img-rutina>img {
    width: 100%;
}

.top-rigth {
    width: 800px;
    height: 450px;
    padding: 5px 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.img-entrenador {
    display: flex;
    justify-content: center;
}

.img-entrenador>img {
    width: 20%;
}

.top-rigth>h1 {
    font-size: 35px;
    letter-spacing: 0.10em;
    word-spacing: 0.10em;
}

.campos-form {
    display: flex;
}

.grupos-form {
    display: flex;
    flex-direction: column;
    margin-inline-end: 70px;
}

input {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    padding: 3px 10px;
    border: none;
    box-shadow: 0 0 5px white;
}

label {
    font-weight: 400;
}

button {
    background-color: gray;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.resultados {
    padding: 25px;
    background: linear-gradient(270deg, rgba(147, 0, 13, 1) 0%, rgba(0, 0, 0, 1) 90%);
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(147, 0, 13, 1);
}

.resultados>h3 {
    font-weight: 900;
}

.section-tarjetas {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.tarjeta {
    width: 300px;
    height: 130px;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.loguito {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 15px;
}

#comer {
    color: rgb(114, 76, 32);
    background-color: rgba(238, 160, 72, 0.61);
}

#ejercicios {
    color: rgb(32, 68, 114);
    background-color: rgba(72, 158, 238, 0.61);
}

#dormir {
    color: rgb(107, 32, 114);
    background-color: rgba(238, 72, 230, 0.61);
}

.tarjeta>p {
    font-size: 12px;
    text-align: center;
}