* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.principal {
    width: 99%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23005092'/%3E%3Cstop offset='1' stop-color='%23007cc4'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23868686'/%3E%3Cstop offset='0.09' stop-color='%23ababab'/%3E%3Cstop offset='0.18' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.31' stop-color='%23d7d7d7'/%3E%3Cstop offset='0.44' stop-color='%23e5e5e5'/%3E%3Cstop offset='0.59' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.75' stop-color='%23f9f9f9'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 10%;
}

header img:hover {
    width: 10%;
    animation: swing 2s both;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

nav a {
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 16px;
    display: flex;
    align-items: center;
}

nav a:hover {
    border-radius: 15px;
    background-color: #259b8d;
    color: white;

}

a i {
    margin-right: 5px;
}

a:hover i {
    animation: flash 2s both;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-top: 20px;
}

.imagenlogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagenlogin img {
    width: 80%;
    animation: fadeIn 4s alternate;
}



.formulariologin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 700px;
    padding: 10px;
}

.formulariologin div {
    display: flex;
    flex-direction: column;
    width: 400px;

}

.campos {
    margin-top: 20px;
}

.campos input {
    font-style: italic;
    padding: 8px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-weight: 500;
}

.campos input:focus {
    outline: none;
}

.test {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px #ccc;
    background-color: #ffffff;
}


.test div:first-child {
    padding: 8px 5px;
    /* border: 1px solid #ccc; */
    width: 33px;
}

.test:hover {
    outline: none !important;
    border: 1px solid #259b8d;
    box-shadow: 0 0 10px #719ECE;
}

.test:hover .imposition {
    color: #259b8d;
}



label {
    font-size: small;
    display: block;
    padding-left: 15px;
    text-indent: -15px;

}

label input {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}




button {
    width: 180px;
    margin-top: 15px;
    padding: 5px;
    border: none;
    color: white;
    background-color: #015fee;
    border-radius: 5px;
}



button:hover {
    background-color: #259b8d;
}


.imposition {
    color: #acabab
}

@media (max-width: 1024px) {
    main {
        width: 90%;
    }
}

@media (max-width:600px) {
    main{
        flex-direction: column-reverse;
    }
    .imagenlogin {
        visibility: hidden;
    }
}
