* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
}


:root {
    --header-height: 80px;

    --color-primario:#000;
    --color-secundario:#c2c2c2

}




body{
    width: 100vw;
    height: 100vh;
    background: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 5px;
    background: #f1f1f1;
    border-radius: 15px;
    box-shadow: 0 0 15px black;

    & h1{
        font-size: 45px;
        font-weight: 800;
    }
     
    & p{
        text-align: center;
     }
}

img{
    width: 100%;
    height: auto;
}

#cantidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid;
}


#total{
    margin-top: 10px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}


#precio{
    display: flex;

}






