/* Dispositivos moviles */
@media only screen and (min-width : 320px) and (max-width : 480px) {

    :root {
        --width-section: 300px;
        --height-section: 330px;
        --height-footer: 150px;
        --padding-content-section: 12px;
        --top-menu-burger: 160px;
    }

    /* Configuracion de la hamburguesa */

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #123456;
        top: var(--top-menu-burger);
        left: -100%;
        text-align: center;
        transition: .5s;
    }


    /* Configuracion del header */

    header>div:last-child>nav>ul>li {
        display: block;
        margin: 20px 0;
        line-height: 90px;
    }
    header>div:last-child>nav>ul>li:nth-of-type(2) {
        margin-inline: initial;
    }

    header>div:last-child>nav>ul>li>a {
        font-size: 20px;
        color: white;
    }

    #check:checked~ul {
        left: 0;
        opacity: .8;
    }

    header>div:first-child {
        height: 70px;
    }

    header>div:first-child>div {

        & h1 {
            font-size: 30px;

        }

    }

    header>div:last-child {
        height: 60px;

    }

    /*  COnfiguración del main */

    main {
        row-gap: 45px;
    }

    main>section {
        width: var(--width-section);
        height: var(--height-section);
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    main>section>div:last-child {
        width: var(--width-section);
        padding-inline: var(--padding-content-section);
    }

    /* Configuración del footer */

    footer{
        position:static;
        padding: 20px;
        
    }

    footer>div {
        position:relative;
        height: var(--height-footer);
        background: #EDEDED;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        width: 99vw;
    }
    
    footer>div>div{
        position: absolute;
        bottom: 0px;
        font-size: 30px;
    }

}

/* ipad y Tables */
@media only screen and (min-width : 481px) and (max-width : 768px) {

    /*  COnfiguración del main */

    :root {
        --width-section: 300px;
        --height-section: 360px;
        --height-footer: 100px;
        --padding-content-section: 12px;
        --top-menu-burger: 160px;
    }

    /* configuracion del header */
    header>div:last-child>nav>ul>li:nth-of-type(2) {
        margin-inline: 84px;
    }
    

    /* Configuracion del main */

    main {
        gap: 50px;
        row-gap: 45px;
        
    }

    /* Configuración del footer */

    footer {
        width: 100%;
        height: var(--height-footer);
        position: relative;
        background: #EDEDED;
        padding: 10px;
        box-sizing: border-box;
    }

    footer>div {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    footer>div:nth-of-type(2) {
        font-size: 30px;
    }

}

/* pantallas pequeñas, ordenadores portátiles */
@media only screen and (min-width : 769px) and (max-width : 1024px) and (orientation:landscape){

    :root {
        --width-section: 300px;
        --height-section: 360px;
        --height-footer: 120px;
        --padding-content-section: 12px;
        --top-menu-burger: 160px;
    }

      /* configuracion del header */
    header>div:last-child>nav>ul>li:nth-of-type(2) {
        margin-inline: 84px;
    }
    


    /*  COnfiguración del main */

    main {
        gap: 50px;
        row-gap: 45px;
    }

    main>section {
        width: var(--width-section);
        height: var(--height-section);
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    main>section>div:last-child {
        width: var(--width-section);
        padding-inline: var(--padding-content-section);
    }

     /* Configuración del footer */

     footer {
        width: 100%;
        height: var(--height-footer);
        /* position: relative; */
        background: #EDEDED;
        padding: 20px;
        box-sizing: border-box;
    }

    footer>div {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    footer>div:nth-of-type(2) {
        font-size: 30px;
    }

}

/* pantallas pequeñas, ordenadores portátiles */
@media only screen and (min-width : 769px) and (max-width : 1024px) {

    :root {
        --width-section: 300px;
        --height-section: 320px;
        --height-footer: 120px;
        --padding-content-section: 12px;
        --top-menu-burger: 160px;
    }

      /* configuracion del header */
    header>div:last-child>nav>ul>li:nth-of-type(2) {
        margin-inline: 84px;
    }
    


    /*  COnfiguración del main */

    main {
        gap: 50px;
        row-gap: 45px;

    }

    main>section {
        width: var(--width-section);
        height: var(--height-section);
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    main>section>div:last-child {
        width: var(--width-section);
        padding-inline: var(--padding-content-section);
    }

     /* Configuración del footer */

     footer {
        width: 100%;
        height: var(--height-footer);
        /* position: relative; */
        background: #EDEDED;
        padding: 20px;
        box-sizing: border-box;
    }

    footer>div {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    footer>div:nth-of-type(2) {
        font-size: 30px;
    }

}

/* pantallas grandes, ordenadores de escritorio */
@media only screen and (min-width : 1025px) and (max-width : 1200px) {}

/* pantallas extra-grandes, televisores */
@media only screen and (min-width : 1201px) and (min-height: 769px) {

    :root {
        --width-section: 300px;
        --height-section: 360px;
        --height-footer: 120px;
        --padding-content-section: 12px;
        --top-menu-burger: 160px;
    }

    /* Configuración del footer */

    footer {
        width: 100%;
        height: var(--height-footer);
        position: sticky;
        bottom: 0;
        background: #EDEDED;
        padding: 10px;
        box-sizing: border-box;
        padding: 37px 201px;
    }

    footer>div {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    footer>div:nth-of-type(2) {
        font-size: 30px;
    }


}
